

<!-- ======= Header ======= -->
<header id="header" class="fixed-top">
    <div class="container d-flex align-items-center justify-content-between">

        <a href="/" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>
        <!-- Uncomment below if you prefer to use text as a logo -->
        <h1 class="logo"><a href="index.html">Butterfly</a></h1>

        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link scrollto active" href="/">Inicio</a></li>        
                <li><a class="nav-link scrollto" href="#about">Ayuda</a></li>
                <li><a class="nav-link scrollto" href="servicios">Servicios</a></li>
                <li><a class="nav-link scrollto" href="#contact">Contacto</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->

    </div>
</header><!-- End Header -->
<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">

    <div class="container">
        <div class="row">
            <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
                <h1>Eleva tu Control de Calidad con Nuestros Servicios</h1>
                <h2>Optimiza el rendimiento de tus operaciones con análisis de combustibles y hidrocarburos de última generación. Nuestro laboratorio, certificado según las normativas ASTM, ISO e IP, utiliza tecnología avanzada para proporcionarte resultados confiables y precisos. Confía en nosotros para tu control de calidad.</h2>
                <div><a href="componentecliente" class="btn-get-started scrollto">Comenzar</a></div>
            </div>
            <div class="col-lg-6 order-1 order-lg-2 hero-img">
                <img src="assets/img/hero-img.png" class="img-fluid" alt="">
            </div>
        </div>
    </div>

</section><!-- End Hero -->

