  <!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center">

    <div class="container">
        <div class="row">
            <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
                <h1>Laboratorio Activo para el analisis y la gestion de equipos</h1>
                <h2>"Descubre el Arte de la Precisión: En nuestro laboratorio, transformamos las muestras químicas en conocimiento. Nuestro equipo de expertos combina la ciencia con la destreza técnica para analizar y desentrañar los secretos de cada muestra. ¿Qué historia oculta tu muestra? Ven y descúbrelo con nosotros. ¡La precisión está en nuestros tubos de ensayo!"</h2>
                <div><a href="login" class="btn-get-started scrollto">Iniciar</a></div>
            </div>
            <div class="col-lg-6 order-1 order-lg-2 hero-img">
                <img src="assets/img/hero-img.png" class="img-fluid" alt="">
            </div>
        </div>
    </div>

</section><!-- End Hero -->