@page "/lubricantes"
@inject HttpClient Http
@using LaboratorioClient.Models
<div>
      <NavMenu />
 </div>
<br />
<br />
<div class="section-title">
    <h2>Lubricantes</h2>
</div>
<div class="row" style="display:flex;justify-content:center">
    <div class="col-4" style="cursor:pointer" data-bs-toggle="offcanvas" data-bs-target="#offcanvasTipoUnidad" aria-controls="offcanvasScrolling">
        <img src="Lubricantes.png" class="img-fluid" alt="...">
    </div>
    <div class="col-4" style="display:flex;align-items:center">

        <div class="card" style="width:500px; max-height:400px ;height:auto"
                <div class="card-body. overflow-scroll">
                    <table   class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Descripción Lubricante</th>
                                <th>Descripción Marca</th>

                                <th> </th>
                            </tr>
                        </thead>
                        <tbody>
                        @foreach (var i in Listado)
                        {
                                        <tr>
                                            <td>@i.Descripcion_Lubricante_E8</td>
                                            <td>@i.E11_Marca.Descripcion_Marca_E11</td>
                                                <td> <button type="button" class="btn btn-outline-secondary" @onclick="()=>Eliminar(i)">Eliminar</button> </td>
                                        </tr>
                        }
                        </tbody>
                    </table>
                </div>
            </div>


       
    </div>
</div>

<div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="offcanvasTipoUnidad" aria-labelledby="offcanvasScrollingLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasScrollingLabel">Listado Lubricante</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <p>Laboratorio activo con presencia en mas de 18 paises</p>
        <br />
        <div>
            <label>Descripcion</label>
            <input @bind-value=nuevolubricante.Descripcion_Lubricante_E8 class="form-control" placeholder="Descripcion" />
            <label>Uso aplicacion lubricante</label>
            <input @bind-value=nuevolubricante.Uso_Aplicacion_Lubricante_E8 class="form-control" placeholder="Uso" />
            <label>ID marca</label>
            <select @bind=nuevolubricante.E11_MarcaId class="form-select" aria-label="Default select example">
                <option selected>Abrir lista de marcas</option>
                @foreach (var i in ListadoMarcas)
                {
                    <option value=@i.Id>@i.Descripcion_Marca_E11</option>
                }
            </select>           
            <button @onclick=Guardar type="button" class="btn btn-secondary">
                Guardar
            </button>
            <br />
            <label>@RespuestaAlCrear</label>

        </div>
    </div>
</div>
@code {
    E8_Lubricante nuevolubricante = new E8_Lubricante();
    string RespuestaAlCrear = "";

    public static List<E8_Lubricante> Listado = new List<E8_Lubricante>();
    public static List<E11_Marca> ListadoMarcas = new List<E11_Marca>();
    Conexion miconexion = new Conexion();
    async Task Guardar()
    {
        RespuestaAlCrear = "Procesando...";
        var respuesta = await Http.PostAsJsonAsync($"{miconexion.Servidor}/api/E8_Lubricante/Crear", nuevolubricante);
        await Actualizar();
        RespuestaAlCrear = await respuesta.Content.ReadAsStringAsync();
        nuevolubricante.Descripcion_Lubricante_E8 = null;
        nuevolubricante.Uso_Aplicacion_Lubricante_E8 = null;


    }

    async Task Actualizar()
    {
        var listado = await Http.GetFromJsonAsync<List<E8_Lubricante>>($"{miconexion.Servidor}/api/E8_Lubricante/Listado");
        Listado = listado;
        var listadomarcas = await Http.GetFromJsonAsync<List<E11_Marca>>($"{miconexion.Servidor}/api/E11_Marca/Listado");
        ListadoMarcas = listadomarcas;

    }
    protected override async Task OnInitializedAsync()
    {
        await Actualizar();
    }
    async Task Eliminar(E8_Lubricante objeto)
    {


        var respuesta = await Http.DeleteAsync($"{miconexion.Servidor}/api/E8_Lubricante/Eliminar/{objeto.Id}");
        Console.WriteLine(respuesta);
        await Actualizar();
    }

}
