@page "/plantilla"
@inject HttpClient Http
@using LaboratorioClient.Models

<div>
    <NavMenu />
</div>

<div id="contenedor">
    <section id="foto">
        <div class="section-title; ">
            <h2>Couriers</h2>
        </div>
        <br />
        <div class="col-4" style="cursor:pointer" data-bs-toggle="offcanvas" data-bs-target="#offcanvasCourier" aria-controls="offcanvasScrolling">
            <img src="Couriers.png" class="img-fluid" alt="...">
        </div>
    </section>
    <section id="contenido">
        <div class="card" style="width:auto;max-width:700px; max-height:450px ;height:auto"
                <div class="card-body. overflow-scroll"> 

                </div>
            </div>
        

    </section>
</div>

<style>
    #contenedor {
        width: auto;
        max-width: 1000px;
        height: auto;
        margin: auto;
        margin-top: 20px;
        margin-bottom: 20px;
        padding-bottom: 20px;
    }

    #contenido {
        width: 700px;
        height: 450px;
        float: right;
    }

    #foto {
        width: 280px;
        height: 500px;
        float: left
    }
</style>




















