 @page "/servicios"
@using LaboratorioClient.Models
 <div>
      <NavMenu />
 </div>
 <!-- ======= Services Section ======= -->
<section id="services" class="services section-bg">
    <div class="container">

        <div class="section-title">
            <h2>Servicios</h2>
            <p>
                Un laboratorio dedicado al análisis de muestras para equipos en el sector de combustibles e hidrocarburos es un centro especializado que ofrece servicios de análisis y ensayo en una amplia gama de combustibles. Estos laboratorios cumplen con
                estándares de calidad como ASTM, ISO e IP, y están equipados con tecnología avanzada para realizar pruebas precisas y confiables
            </p>
        </div>

        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="icon-box">
                    <div class="icon"><i class="bi bi-basket3-fill" style="color: #ff689b;"></i></div>
                    <h4 class="title"><a href="">Muestras</a></h4>
                    <p class="description">Ofrecemos análisis exhaustivos de muestras para identificar componentes clave y evaluar la calidad de tus productos. Nuestros informes detallados te proporcionan la información esencial para decisiones informadas y estratégicas.</p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="icon-box">
                    <div class="icon"><i class="bi bi-diagram-3" style="color: #e9bf06;"></i></div>
                    <h4 class="title"><a href="">Tipos de Maquinas</a></h4>
                    <p class="description">Adaptamos nuestros análisis para diversos tipos de máquinas, desde equipos industriales hasta vehículos pesados, garantizando precisión y relevancia para mejorar el rendimiento y la fiabilidad de tus activos.</p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6" data-wow-delay="0.1s">
                <div class="icon-box">
                    <div class="icon"><i class="bi bi-droplet-half" style="color: #3fcdc7;"></i></div>
                    <h4 class="title"><a href="">Lubricantes</a></h4>
                    <p class="description">
                        Descubre cómo mejorar el rendimiento y la durabilidad de tus máquinas mediante nuestros análisis especializados de lubricantes. Evaluamos la composición química y las propiedades físicas para asegurar una lubricación efectiva y confiable.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6" data-wow-delay="0.1s">
                <div class="icon-box">
                    <div class="icon"><i class="bi bi-credit-card-2-front" style="color:#41cf2e;"></i></div>
                    <h4 class="title"><a href="">Combustibles</a></h4>
                    <p class="description">
                        Ofrecemos análisis detallados de combustibles diseñados para cumplir con los estándares ASTM, ISO e IP. Nuestros servicios garantizan la calidad y conformidad de tus combustibles, fundamentales para el funcionamiento eficiente de tus equipos y procesos industriales.
                    </p>
                </div>
            </div>

            <div class="col-lg-4 col-md-6" data-wow-delay="0.2s">
                <div class="icon-box">
                    <div class="icon"><i class="bi bi-building-check" style="color: #d6ff22;"></i></div>
                    <h4 class="title"><a href="">Empresas</a></h4>
                    <p class="description">
                        Apoyamos empresas con soluciones personalizadas para el análisis de muestras de lubricantes, combustibles y más, mejorando la eficiencia operativa y reduciendo costos con análisis precisos y recomendaciones expertas.
                    </p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6" data-wow-delay="0.2s">
                <div class="icon-box">
                    <div class="icon"><i class="bi bi-clock" style="color: #4680ff;"></i></div>
                    <h4 class="title"><a href="">Couriers</a></h4>
                    <p class="description">
                        Facilitamos la entrega rápida y segura de tus paquetes con nuestro servicio de couriers. Nos comprometemos a garantizar la puntualidad y la seguridad en cada envío, proporcionando soluciones eficientes y confiables para tus necesidades logísticas
                    </p>
                </div>
            </div>
        </div>

    </div>
</section><!-- End Services Section -->
