@inherits LayoutComponentBase
<div>
   <div>
       <NavMenu />
   </div>   
    <main style="margin-top:100px">    
        <div style="margin:5px">
            @Body
        </div>
    </main>
</div>
