<!-- ======= Team Section ======= -->
<section id="team" class="padd-section text-center">

    <div class="container" data-aos="fade-up">
        <div class="section-title text-center">

            <h2>Componente / Sistema Lubricado</h2>
            <p class="separator">Integer cursus bibendum augue ac cursus .</p>
        </div>

        <div class="row">

            <div class="col-md-6 col-md-4 col-lg-3" data-aos="zoom-in" data-aos-delay="100">
                <div class="team-block bottom">
                   <p>Placa/Serial Componente (ND)</p>
                    <div class="team-content">
                        <ul class="list-unstyled">
                            <li><a href="#"><i class="bi bi-facebook"></i></a></li>
                            <li><a href="#"><i class="bi bi-twitter"></i></a></li>
                            <li><a href="#"><i class="bi bi-linkedin"></i></a></li>
                        </ul>
                        <span>manager</span>
                        <h4>Kimberly Tran</h4>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-md-4 col-lg-3" data-aos="zoom-in" data-aos-delay="200">
                <div class="team-block bottom">
                    <p>Componente/Marca/Modelo</p>
                    <div class="team-content">
                        <ul class="list-unstyled">
                            <li><a href="#"><i class="bi bi-facebook"></i></a></li>
                            <li><a href="#"><i class="bi bi-twitter"></i></a></li>
                            <li><a href="#"><i class="bi bi-linkedin"></i></a></li>
                        </ul>
                        <span>manager</span>
                        <h4>Kimberly Tran</h4>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-md-4 col-lg-3" data-aos="zoom-in" data-aos-delay="300">
                <div class="team-block bottom">
                    <p>Unidad Periodo Seervicio Componente </p>
                    <div class="team-content">
                        <ul class="list-unstyled">
                            <li><a href="#"><i class="bi bi-facebook"></i></a></li>
                            <li><a href="#"><i class="bi bi-twitter"></i></a></li>
                            <li><a href="#"><i class="bi bi-linkedin"></i></a></li>
                        </ul>
                        <span>manager</span>
                        <h4>Kimberly Tran</h4>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-md-4 col-lg-3" data-aos="zoom-in" data-aos-delay="400">
                <div class="team-block bottom">
                    <p>Placa/Serial Componente (ND)</p>
                    <div class="team-content">
                        <ul class="list-unstyled">
                            <li><a href="#"><i class="bi bi-facebook"></i></a></li>
                            <li><a href="#"><i class="bi bi-twitter"></i></a></li>
                            <li><a href="#"><i class="bi bi-linkedin"></i></a></li>
                        </ul>
                        <span>manager</span>
                        <h4>Kimberly Tran</h4>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section><!-- End Team Section -->